.App{
    background-color: rgba(2, 6, 37, 0.938);
    min-height: 100vh;
}

.App-header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.App-link{
    display: flex;
    gap: 20px;
}

.nav_link{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.hero-section{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: sans-serif;
}

.card-section{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    padding-top: 50px;
}

.card-img{
    border-radius: 10px;
    width: 100%; 
    height: 200px;
}

.card{
    background-color: rgba(33, 37, 63, 0.938);
    width: 20%;
    border-radius: 10px;
}

.title{
    font-size: 15px;
    text-align: center;
    color: white;
}

.date{
   font-size: 14px;
   text-align: center;
   color: gray; 
}

.page{
    font-size: 14px;
    text-align: center;
    color: white; 
}

.startUp-section{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    padding-top: 50px;
}
.starUp{
    background-color: rgba(33, 37, 63, 0.938);
    width: 20%;
    border-radius: 10px;
}

.startUp-img{
    border-radius: 10px;
    width: 100%; 
    height: 200px;
}

.startUp_title{
    font-size: 15px;
    text-align: center;
    color: white;
}

.startUp-date{
    font-size: 14px;
    text-align: center;
    color: gray; 
}

.start-page{
    font-size: 14px;
    text-align: center;
    color: white; 
}

.contact{
    font-size: 30px;
    font-weight: bold;
    color: #ffff;
    padding-left: 250px; 
}

.newsletters{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding-left: 250px;
    padding-bottom: 350px;
}